.container {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  transition: 1s;
  margin-left: 0;

  .home {
    display: flex;
    flex-wrap: wrap;
    background-color: tomato;
    min-width: inherit;
    min-height: inherit;

    justify-content: center;
    align-items: center;
    text-align:center;
    
    .homeContent{
      transition: .1s;
    }

    img{
     height: 200px;
    }
    h2{
      color: snow;
      margin-bottom: 100px;
    }
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    background-color: teal;
    min-width: inherit;
    min-height: inherit;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    background-color: seagreen;
    min-width: inherit;
    min-height: inherit;
  }
}
.btns {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  z-index: 100;
  bottom: 20px;

  button {
    width: 80px;
    background-color: #fafafacb;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 0.5rem;
  }
  button:focus {
    display: initial;
    background-color: rgb(138, 195, 241);
  }
}
