.container {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  transition: 1s;
  margin-left: 0;
  color: aliceblue;

  .home {
    display: flex;
    flex-wrap: wrap;
    background-color: tomato;
    min-width: inherit;
    min-height: inherit;

    justify-content: center;
    align-items: center;
    text-align: center;

    .homeContent {
      transition: 0.1s;
    }

    img {
      height: 200px;
    }
    h2 {
      color: snow;
      margin-bottom: 100px;
    }
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    background-color: teal;
    min-width: inherit;
    min-height: inherit;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    background-color: seagreen;
    min-width: inherit;
    min-height: inherit;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.btns {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  z-index: 100;
  bottom: 20px;

  button {
    --heightBtn: 50px;
    height: var(--heightBtn);
    background-color: transparent;
    padding: 0.7rem;
    border-radius: 10px;
    margin: 0 0.5rem;
  }
  button:focus {
    display: initial;
    background-color: rgb(138, 195, 241);
  }
  img {
    height: calc(var(--heightBtn) - 20px);
  }
}
